<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="header">
<div class="wrap">

  <div class="top_nav">
    <div class="t_menu">
        <ul>
            <li><a sec:authorize="isAnonymous()" href="/member/login">로그인</a></li>
            <li><a sec:authorize="isAuthenticated()" href="/member/logout">로그아웃</a></li>
            <li><a a sec:authorize="isAnonymous()"href="member/join">회원가입</a></li>
            <li><a sec:authorize="isAuthenticated()" href="#">장바구니</a></li>
            <li><a sec:authorize="isAuthenticated()" href="#">주문조회</a></li>
            <li><a sec:authorize="isAuthenticated()" href="#">마이페이지</a></li>
        </ul>
    </div>


    <div class="right_menu">
        <ul>
        <a href="/member/photoreview"><li>포토리뷰</li>|</a>
        <a href="/member/community"><li>커뮤니티</li>|</a>   
        </ul>
    </div>
</div>
<header>
  <div class="logo">
    <img src="img/Main_logo.png">
  </div>
  
    <div class="search_bar">
      <div class="search">
      <input type="text" placeholder="       검색어 입력">
      <img src="img/btn_search.png">
      </div>
    </div>
</header>

<!--dropDown-->
<ul class="main_menu">
  <li><a href="#">Home</a>
    <ul>
      <li></li>
      <li></li>
    </ul>
  </li>
  <li><a href="#">신상품</a></li>
  <li><a href="#" id="current">장난감</a>
    <ul class="sub_menu">
      <li><a href="#">막대장난감</a></li>
      <li><a href="#">리필장난감</a></li>
      <li><a href="#">자동장난감</a></li>
      <li><a href="#">기타장난감</a></li>
      <li><a href="#">캣닢,마따따비</a></li>
    </ul>
  </li>
  <li><a href="#">모레</a>
    <ul class="sub_menu">
      <li><a href="#">모레BEST</a></li>
      <li><a href="#">벤토나이트</a></li>
      <li><a href="#">카사바</a></li>
      <li><a href="#">두부모레</a></li>
      <li><a href="#">활성탄</a></li>
    </ul>
  </li>
  <li><a href="#">COMMUNITY</a>
    <ul class="sub_menu">
      <li><a href="#">공지사항</a></li>
      <li><a href="#">이벤트</a></li>
      <li><a href="#">사용후기</a></li>
      <li><a href="#">상품문의</a></li>
      <li><a href="#">고객센터</a></li>
    </ul>
  </li>
</ul>
  
</div>


</div>
</html>