<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>커뮤니티</title>
<!--폰트-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link th:href="@{css/index.css}" rel="stylesheet">
</head>

<body>
<th:block layout:fragment="content">
			<div id="container">
				<img id="banner" src="img/notice_banner.png" width="1200px">
				<table id="tb">
					<tr id="subject">
						<td id="tb_num">번호</td>
						<td id="tb_name">제목</td>
						<td id="tb_man"></td>
						<td id="tb_date">작성일</td>
					</tr>
					<tr th:each="question, loop : ${paging}">
						<td id="question_num"
							th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index}"></td>

						<!-- 제목 -->
						<td id="sub"><a th:href="@{|/notice/detail/${question.id}|}"
							th:text="${question.subject}"></a></td>
						<td></td>

						<td
							th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></td>


					</tr>

				</table>


				<!-- 페이징처리 시작 -->
				<div th:if="${!paging.isEmpty()}" id="menu1">
					<ul>
						<li th:classappend="${!paging.hasPrevious} ? 'disabled'"><a
							th:href="@{|?page=${paging.number-1}|}"> <span>이전</span>
						</a></li>
						<li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
							th:if="${page >= paging.number-5 and page <= paging.number+5}"
							th:classappend="${page == paging.number} ? 'active'"><a
							th:text="${page}" class="page-link" th:href="@{|?page=${page}|}"></a></li>
						<li th:classappend="${!paging.hasNext} ? 'disabled'"><a
							th:href="@{|?page=${paging.number+1}|}"> <span>다음</span>
						</a></li>
					</ul>
				</div>
				<!-- 페이징처리 끝 -->

				<!-- 질문 등록하기 -->
				<a th:href="@{/question/create}" class="q_btn">질문 등록하기</a>



				<div id="menu2">
					<div id="select_date">
						<select style="padding: 2px; width: 80px;">
							<option>일주일</option>
							<option>한달</option>
							<option>세달</option>
							<option>전체</option>
						</select>
					</div>
					<div id="select_name">
						<select style="padding: 2px;">
							<option>제목</option>
							<option>내용</option>
							<option>글쓴이</option>
							<option>아이디</option>
							<option>별명</option>
						</select>
					</div>
					<div id="select_input">
						<input type="text" style="width: 160px; padding: 3px;">
					</div>
					<div id="select_search">
						<button type="button" style="padding: 2px;">찾기</button>
					</div>
				</div>







			</div>




</th:block>
</body>
</html>